@font-face {
    font-family:careo;
    src: url("fonts/Cairo-Bold.ttf");
}


body {
    background-color: wheat;
    font-family: careo;
    
    
}

nav ul a li  {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    text-align: center;
}    


nav ul {
    text-align: center;
    margin: 5%;
    background-color:white;
    min-width: 350px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius:25px;
    padding: 15px;
    box-shadow: 10px 10px #000;
   transition: 0.5s;
}
nav ul:hover{
    box-shadow: 0px 0px 20px 0px #000;
}

nav ul a {
    text-align: center;
}

section h1 {
    text-align: center;
    border:1px solid #000;
     margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 250px;
    max-width: 300px;
    background-color: white;
    border-radius: 25px;
}

section {
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

h1 + hr {
    border-color: black;
    width: 700px;
    margin-top: 30px;
    box-shadow: 0px 0px 1px 0px black;
}

.img1 {
    width: 400px;
    border-radius: 25px;
}

.div-small {
    width: 850px;
    height: 1000px;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    margin: 15px;
    box-shadow: 10px 10px #000;
    display: inline-block;
    transition: 0.5s;
    float:right; 
    
}
.div-small:hover {
    box-shadow: 0px 5px 0px 0px #000;
    
}
.div-small:active {
 box-shadow: 0px 0px 0px 0px #000;
}
a {
    text-decoration: none;
    color: wheat;
}


hr ,.hr-aside {
     border-color: black;
    width: 200px;
    margin-top: 30px;
    box-shadow: 0px 0px 1px 0px black;
}

.aside1 {
    background-color: white;
    width: 350px;
    height: 200px;
    border:1px solid #000;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
   
    
}
.viwo {
    font-size: 20px;
    letter-spacing: 5px;
}
.aside2 {
    background-color: white;
    width: 350px;
    height: 500px;
    border:1px solid #000;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
   padding: 5px;
    
}
.div-big {
    margin-top: 50px;
}
aside ul li {
    border:1px solid #000;
    list-style-position: outside;
    width: 300px;
    border-radius: 25px;
    
    
}

.img2 {
    width: 200px;
}

.hr-aside2{
     border-color: black;
    width: 150px;
    margin-top: 30px;
    box-shadow: 0px 0px 1px 0px black;
}

footer {
    background-color: darkgray;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    
   
}



.cler {
    clear: both;
}


}

span {
color: white;
}