
@font-face {
  font-family: 'Cairo-Bold';
  src: url('Cairo-Bold.eot?#iefix') format('embedded-opentype'),  url('Cairo-Bold.woff') format('woff'), url('Cairo-Bold.ttf')  format('truetype'), url('Cairo-Bold.svg#Cairo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
